[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
django = "*"
psycopg2 = "*"
django-crispy-forms = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
clearbit = "*"
requests = "*"

[dev-packages]
black = "==19.3b0"
flake8 = "*"
isort = "*"
pre-commit = "*"
python-dotenv = "*"
