{% extends "blog/base.html" %}

{% block title %}User posts{% endblock %}

{%  block content %}
    <h2 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
    {% if posts %}
        <div class="row mb-2">
            {% for post in posts %}
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            {% if post.author %}
                                <a href="{% url "blog:user-posts" post.author.username %}">By {{ post.author }}</a>
                            {% endif %}
                            <h3 class="mb-0">{{ post.post_title }}</h3>
                            <div class="mb-1 text-muted">{{ post.pub_date|date:"d F, Y" }}</div>
                            <a href="{% url "blog:detail" post.id %}" class="link">Continue reading</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {%  endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}
